/*Selector universal*/
*{
    background-color:#367C2B;
}
/*Selector de elementos*/
h1, address {
    background-color:#FFDE00;
}

/*Selector de clase*/
p.negro{
    background-color:#000000;
    color: #ffffff;
}
div ol,li{
    background-color:#000000;
}

/*Selector de ID*/
p#amarillo{
    background-color: #FFDE00;
    color: #000000;
}
div{
    border-color: #000000;
    border-width: 10px;
    border-style:groove;
    border-radius: 20px;
}
/*Selector descendiente*/
div p{
    background-color:#000000;
    color: #ffffff;
}
div ol{
    color: #ffffff;
}
/*Selector hijo*/
div.d2<div{
    color:yellow;
}
div.d3{
    padding: 3px 10px;
    border: rgb(0, 0, 0) 5px solid;
    border-width: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-style: groove;
}
div.d4{
    border: rgb(0, 0, 0) 60px solid;
    border-image-source:url("/7.\ Selectores/img/mamahuevo.png");
    text-align: justify;
    border-image-slice: 20%;
    border-image-repeat: repeat;
}